.tela-sessoes {
    margin: 67px auto;
    width: 90%;
}

.dia-sessão {
    font-size: 24px;
    margin: 20px 0;
}

.horario-sessao {
    width: 82px;
    height: 43px;
    background-color: rgb(232, 131, 58);
    color: white;
    font-size: 18px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
}