.tela-assentos {
    margin: 67px auto;
    width: 90%;
}

.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    row-gap: 10px;
}

.assento {
    font-size: 11px;
    width: 26px;
    height: 26px;
    background-color: rgb(195, 207, 217);
    border-radius: 50%;
    border: solid 1px rgb(128, 143, 157);
    cursor: pointer;
}

.selecionado {
    background-color: rgb(141, 215, 207);
    border: solid 1px rgb(26, 174, 158)
}

.ocupado{
    background-color: rgb(251, 225, 146);
    border: solid 1px rgb(247, 197, 43);
}

.legenda{
    margin: 10px 0 30px 0;
    display: grid;
    grid-template-columns: auto auto auto;
}

.button-legend{
    font-size: 13px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.texto-input{
    font-size: 18px;
    margin: 30px 0 5px 0;
}

input{
    height: 51px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.finalizar {
    width: 225px;
    height: 42px;
    background-color: rgb(232, 131, 58);
    color: white;
    font-size: 18px;
    margin: 30px auto 0 calc(50% - 112.5px);
    border: none;
    cursor: pointer;
}